{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Task Manager{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.4/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header>
        <nav>
            <div class="navbar bg-red-300 space-x-4">
                <a class="btn btn-ghost normal-case text-xl">Task Manager</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'tasks:sign_out' %}"><button class="btn btn-primary">SignOut</button></a>
                {% else %}
                    <a href="{% url 'tasks:sign_in' %}">SignIn</a>
                    <a href="{% url 'tasks:sign_up' %}">SignUp</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        <!-- Footer content goes here -->
    </footer>
</body>
</html>
