{% extends "base.html" %}

{% block title %}Create Task{% endblock %}

{% block content %}
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Create Task</h1>
      </div>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <form class="card-body" method="post" enctype="multipart/form-data">

          {% csrf_token %}
          <div class="form-control">
            <label class="label">
              <span class="label-text">Title</span>
            </label>
            {{ form.title }}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Due Date</span>
            </label>
            {{ form.due_date }}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Priority</span>
            </label>
            {{ form.priority }}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Photos</span>
            </label>
            <input type="file" name="photos" accept="image/*" class="input input-bordered" />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Description</span>
            </label>
            {{ form.description }}
          </div>
          <div class="form-control mt-6">
            <button class="btn btn-primary">Create Task</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
