{% extends "base.html" %}

{% block title %}Task List{% endblock %}

{% block content %}
   <div class="max-w-7xl mx-auto">
    <h1 class="text-5xl text-center font-bold mt-6"  >Task List</h1>
    <div class="flex items-center justify-between">
        
        <a href="{% url 'tasks:create-task' %}"><button class="btn btn-primary">Create Task</button></a>
        <form method="get">
            <div class="flex">
                <input type="text" name="search" placeholder="Search by title" class="input input-bordered w-full max-w-xs" />
                <button class="btn btn-primary " type="submit">Apply Filters</button>
            </div>
        </form>
     
   </div>
    <div class="grid grid-cols-3 gap-2 my-10">
        {% for task in tasks %}
            
               

                <div class="card w-96 bg-base-100 shadow-xl">
                    <figure><img src={{ task.photos }} alt={{ task.title }} /></figure>
                    <div class="card-body">
                      <h2 class="card-title">{{ task.title }}</h2>
                      <p>{{ task.description}}</p>
                      <p>{{ task.due_date}}</p>
                      <p>{{ task.priority}}</p>
                      <div class="card-actions justify-end">
                        <button class="btn btn-primary">Details</button>
                        <button class="btn btn-primary">Delete</button>
                      </div>
                    </div>
                  </div>
               
        {% endfor %}
    </div>


    </div>
    
   
     
 
   
{% endblock %}
