{% extends "base.html" %}

{% block title %}Task List{% endblock %}

{% block content %}
    <h1>Task List</h1>
    <!-- Display a list of tasks here -->
    <h3>kkkk</h3>
    <ul>
        {% for task in tasks %}
            
                <div class="card w-96 bg-base-100 shadow-xl">
                    <figure><img src={{ task.photos }} alt={{ task.title }} /></figure>
                    <div class="card-body">
                      <h2 class="card-title">{{ task.title }}</h2>
                      <p>{{ task.description}}</p>
                      <p>{{ task.due_date}}</p>
                      <p>{{ task.priority}}</p>
                      <div class="card-actions justify-end">
                        <button class="btn btn-primary">Details</button>
                        <button class="btn btn-primary">Delete</button>
                      </div>
                    </div>
                  </div>
               
            
        {% endfor %}
    </ul>
    <!-- Add links to create, view, update, and delete tasks -->
   
    <!-- Add search and filter options if needed -->
    <form method="get">
        <input type="text" name="search" placeholder="Search by title">
        <!-- Add other filters here -->
        <button type="submit">Apply Filters</button>
    </form>
{% endblock %}
